<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br/>
                <div class="alert alert-block"><h4 class="modal-title">%%MODAL_TITLE%%</h4></div>
            </div>
            <div class="modal-body">
                <p>%%MODAL_MESSAGE%%</p>
            </div>
            <div class="modal-footer">
                <div class="buttons">
                    %%MODAL_BUTTONS%%
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->