

body{
    font-family: Arial;
}
hr{
    margin-top: 0px;
}
.panel-editor{
   margin-top: -3px;
   padding-top: 1em;
   border-top: none;
}
.panel-editor>div.panel-footer{
    min-height: 4em;
}
.contact-block{
    padding-top: 4px;
}
.sidebar-action{
    width: 415px;
}
/*
 Canvas
*/
.canvas-wrapper {
    user-select: none; outline: none;
}
.panel {
    margin-bottom: 10px;
}
.rpVorlage{
    cursor: pointer;
    height: 125px;
}
/*
 Canvas TextEditor
*/
[data-text-attribute-value=bold] {
    font-weight: 700;
}
[data-text-attribute-value=underline] {
    text-decoration: underline;
}
[data-text-attribute-value=italic] {
    font-style: italic;
}
.rp-inactive{
    opacity: .5;
}
/*
 Slider
*/
.slider-handle.round{
    background-color: #CB4335;
    background-image: linear-gradient(to bottom,#CB4335 0,#EC7063 100%);
}
.slider-selection {
    background-image: linear-gradient(to bottom,#CB4335 0,#EC7063 100%);
}
.slider.slider-horizontal { width: 60%;  float: right; }
.sliderStr {display: inline-block; width: 30%; }
/*
 Bilder
*/
.rotprint-logos{
    height: 64px;
}
/*
 Buttons
*/

.btn-spd {
    color: #fff;
    background-color: #e60000;
    border-color: #cc0000;
}
.btn-spd:hover {
     color: #fff;
     background-color: #cc0000;
     border-color: #b30000;
 }
/*
 TITEL
*/
.navbar-title{
    font-size: 32px;
}
.navbar-subtitle{
    font-size: 16px;
}
.nav>li>a{
    background-color: #f2f2f2;
    font-size: 14px;
    color: #e60000;
}
/*
 PANEL
*/
.panel-blocksatz{
    text-align: justify;
}