<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>ROTPRINT</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Architects+Daughter|Barrio|Chango|Dancing+Script|Lobster|Luckiest+Guy|Marck+Script|Pacifico|Raleway|Roboto|Share+Tech+Mono|Slabo+27px|Taviraj" rel="stylesheet">

    <script type="text/javascript" src="app{{TIMESTAMP}}.js"></script>
    <link rel="stylesheet" href="style{{TIMESTAMP}}.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css"

</head>
<body>
    <div class="modal modal-lg fade img-dialog" id="imgDialog" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    Bild einfügen
                    <span class="pull-right button fa fa-window-close-o" data-dismiss="modal" aria-label="Close"></span>
                </div>

                <div class="modal-body">
                    <div class="form-group ae-motive">
                        <label>Bild hochladen</label>
                        <div class="ae-image-upload">
                                        <span class="btn btn-default btn-file btn-block">
                                            <input type="file" class="img-upload">
                                            <div style="margin-top: 10px;"><i>Bitte beachten Sie die Urheberrechte bei der Auswahl Ihrer Bilder.</i></div>
                                        </span>
                        </div>
                    </div>

                    <div class="form-group ae-motive">
                        <label>Motiv auswählen</label>
                        <div class="ae-motive-list">

                            <ul class="nav nav-pills"></ul>

                            <div class="tab-content"></div>

                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand navbar-title" href="/">ROTPRINT</a>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#">Info </a>
                    </li>
                    <li>
                        <a href="#">Editor</a>
                    </li>
                    <li>
                        <a href="#">Impressum</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav">
                    <div class="sidebar-toggler nav" id="side-menu">
                        <div class="sidebar-container">
                            <div class="sidebar-main">
                                <img class="img-thumbnail rpVorlage" src="/images/vorlagen/vorlage_standard.png"/>
                        </div>
                            <div class="sidebar-objects" hidden>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Objekte:</label>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4 text-left">
                                                <label for="rpFontSize">Größe:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input id="rpObjectWidth" type="number" name="blockWidth" data-block-attribute="blockWidth" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 text-left">
                                                <label for="rpObjColor">Farbe:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <div id="rpObjColor" class="input-group colorpicker-component">
                                                        <input type="text" value="#00000" class="form-control"/>
                                                        <span class="input-group-addon"><i></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-images" hidden>

                            </div>
                            <div class="sidebar-text" hidden>
                                <div class="panel panel-default rpTextFormat">
                                    <div class="panel-heading">
                                        <label>Formatierung:</label>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>Formatierung:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <span class="text-attribute btn btn-default fontWeight" data-text-attribute="fontWeight" data-text-attribute-value="bold" data-text-attribute-switch="normal">F</span>
                                                    <span class="text-attribute btn btn-default textDecoration" data-text-attribute="textDecoration" data-text-attribute-value="underline">U</span>
                                                    <span class="text-attribute btn btn-default fontStyle" data-text-attribute="fontStyle" data-text-attribute-value="italic">K</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row rpTextAlign">
                                            <div class="col-lg-4">
                                                <label>Ausrichtung:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <span class="text-attribute btn btn-default active" data-text-attribute="textAlign" data-text-attribute-value="left">
                                                        <i class="fa fa-align-left" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="text-attribute btn btn-default" data-text-attribute="textAlign" data-text-attribute-value="center">
                                                        <i class="fa fa-align-center" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="text-attribute btn btn-default" data-text-attribute="textAlign" data-text-attribute-value="right">
                                                        <i class="fa fa-align-right" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="text-attribute btn btn-default" data-text-attribute="textAlign" data-text-attribute-value="justify">
                                                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 text-left">
                                                <label>Schriftart:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <select id="rpFontFamily" name="rpFontFamily" data-text-attribute="fontFamily" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 text-left">
                                                <label for="rpFontSize">Schriftgröße:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input id="rpFontSize" type="number" name="fontSize" data-text-attribute="fontSize" name="font-size"  class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 text-left">
                                                <label for="rpColor">Schriftfarbe:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <div id="rpColor" class="input-group colorpicker-component">
                                                        <input type="text" value="#00000" class="form-control"/>
                                                        <span class="input-group-addon"><i></i></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default rpTextEditor">
                                    <div class="panel-heading">
                                        <label>Text:</label>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <textarea id="text" class="form-control" style="width: 100%; height: 50px;" name="text"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-action navbar-fixed-bottom">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Aktion:</label>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <a class="btn btn-block btn-default" data-addelement="image">Neues Bild</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <a class="btn btn-block btn-default" data-addelement="text">Neuer Text</a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row rpTextButtons">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="optButton btn btn-block btn-default" data-layeropt="sendToBack">In den Hintergrund</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="optButton btn btn-block btn-default" data-layeropt="bringToFront">In den Vordergrund</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row rpTextButtons">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="optButton del-element btn btn-block btn-danger">L&ouml;schen</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="optButton unsel-element btn btn-block btn-warning">Auswahl beenden</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="optButton rpSaveCanvas btn btn-block btn-spd">Speichern</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-border"></div>
                    </div>
                </div>
            </div>
                <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="canvas-wrapper">
                <canvas id="c"></canvas>
            </div>
        </div>
    </div>
</body>
</html>